<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m1isi.apptest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BestSplashScreen"
            android:label="@string/title_activity_best_splash_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Accueil"
            android:label="@string/title_activity_accueil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccueilNotification"
            android:label="@string/title_activity_accueil_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccueilTache"
            android:label="@string/title_activity_accueil_tache"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetSelection"
            android:label="@string/title_activity_pojet_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetAccueil"
            android:label="@string/title_activity_projet_accueil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetDetails"
            android:label="@string/title_activity_projet_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetTache"
            android:label="@string/title_activity_projet_tache"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetCollaborateur"
            android:label="@string/title_activity_projet_collaborateur"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetDocument"
            android:label="@string/title_activity_projet_document"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetMessage"
            android:label="@string/title_activity_projet_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetBudget"
            android:label="@string/title_activity_projet_budget"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetPlanning"
            android:label="@string/title_activity_projet_planning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjetCreate"
            android:label="@string/title_activity_projet_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TacheCreate"
            android:label="@string/title_activity_tache_create"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CreateUser"></activity>
    </application>

</manifest>
